@{
    ViewBag.Title = "一苇青少年成长研究中心";
}

@section styles
{
    <style>
        html { font-size: 62.5%; -webkit-tap-highlight-color: transparent }
        a { color: #0e716e; }
        h2 { background: #eee; font-size: 1.6rem; color: #888; padding: 1rem 1.5rem; border-bottom: 1px solid #dedede; }
        .am-list { margin: 0 10px }
        .am-list li:after { content: ""; display: table; clear: both; }
        .am-list li { position: relative; padding: 1rem 0 1rem 0; border-bottom: 1px solid #dedede; }
        .left { float: left; width: 25%; padding: 1px 1rem 0 0; }
        .left img { width: 100%; display: block; }
        .right { float: right; width: 75%; position: relative; }
        .right p { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
        .p1 { font-weight: bold; }
        .p2,.p3 { margin-top: 5px; color: #999; font-size: 1.2rem; }
        .start { float: right; color: #f37b1d; border-bottom: 1px solid #f37b1d; }

    </style>
}

    <h2>学业规划</h2>
    <ul class="am-list">
        <li>
            <a href="@Url.Action("Index", "MBTI", new{tid=10})">
                <div class="left">
                    <img src="@Url.Content("~/Images/IconImg/MBTIIcon.png")">
                </div>
                <div class="right">
                    <p class="p1">性格类型测评（青少年自评版）</p>
                    <p class="p2">探索自我，从性格开始</p>
                    <p class="p3">510269人已购买<span class="start">¥ 9.90</span></p>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="left">
                    <img src="@Url.Content("~/Images/IconImg/YSDSIcon.png")">
                </div>
                <div class="right">
                    <p class="p1">职业兴趣测评（青少年自评版）</p>
                    <p class="p2">兴趣是人生最好的导师</p>
                    <p class="p3"><span class="start">即将上线</span></p>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="left">
                    <img src="@Url.Content("~/Images/IconImg/YCASIcon.png")">
                </div>
                <div class="right">
                    <p class="p1">职业价值观（青少年自评版）</p>
                    <p class="p2">人生各有志，终不为此移</p>
                    <p class="p3"><span class="start">即将上线</span></p>
                </div>
            </a>
        </li>
    </ul>


